<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.afbb.bibo.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.afbb.bibo.ui.Perspective"
            icon="icons/16x16logo.png"
            id="de.afbb.bibo.ui.perspective"
            name="AFBB BIBO">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="de.afbb.bibo.ui.view.NavigationView"
            icon="icons/16x16user.png"
            id="de.afbb.bibo.ui.navigationView"
            name="Navigation"
            restorable="true">
      </view>
      <category
            id="de.afbb.bibo.ui.category.main"
            name="Hauptkategorie">
      </category>
      <view
            allowMultiple="false"
            category="de.afbb.bibo.ui.category.main"
            class="de.afbb.bibo.ui.view.WelcomeView"
            icon="icons/16x16logo.png"
            id="de.afbb.bibo.ui.view.welcome"
            name="Willkommen"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="de.afbb.bibo.ui.category.main"
            class="de.afbb.bibo.ui.view.RegisterCopyView"
            icon="icons/16x16add_book.png"
            id="de.afbb.bibo.ui.registerexemplar"
            name="Erfassung Medien"
            restorable="false">
      </view>
      <view
            allowMultiple="true"
            category="de.afbb.bibo.ui.category.main"
            class="de.afbb.bibo.ui.view.BorrowerView"
            icon="icons/16x16schueler.png"
            id="de.afbb.bibo.ui.borrower"
            name="Bearbeiten Ausleiher"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            category="de.afbb.bibo.ui.category.main"
            class="de.afbb.bibo.ui.view.ReturnCopyView"
            icon="icons/16x16login.png"
            id="de.afbb.bibo.ui.return.copy"
            name="Rückgabe"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="de.afbb.bibo.ui.category.main"
            class="de.afbb.bibo.ui.view.LendCopyView"
            icon="icons/16x16book2.png"
            id="de.afbb.bibo.ui.lend.copy"
            name="Ausleihe"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            category="de.afbb.bibo.ui.category.main"
            class="de.afbb.bibo.ui.view.MediumView"
            icon="icons/16x16book.png"
            id="de.afbb.bibo.ui.medium"
            name="Anzeigen Medium"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            category="de.afbb.bibo.ui.category.main"
            class="de.afbb.bibo.ui.view.InventoryView"
            icon="icons/16x16logo.png"
            id="de.afbb.bibo.ui.inventory"
            name="Inventur"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.afbb.bibo.ui.login"
            name="Anmeldung">
      </command>
      <command
            id="de.afbb.bibo.ui.create.curator"
            name="Neuanlage Verwalter">
      </command>
      <command
            id="de.afbb.bibo.ui.create.copy"
            name="Erfassung Medien">
      </command>
      <command
            id="de.afbb.bibo.ui.create.borrower"
            name="Neuanlage Ausleiher">
      </command>
      <command
            id="de.afbb.bibo.ui.create.type"
            name="Neuanlage Kategorie">
      </command>
      <command
            id="de.afbb.bibo.ui.lend"
            name="Verleihen">
      </command>
      <command
            id="de.afbb.bibo.ui.return"
            name="Zurückgeben">
      </command>
      <command
            id="de.afbb.bibo.ui.manage.curator"
            name="Eigenes Passwort Ändern">
      </command>
      <command
            id="de.afbb.bibo.ui.manage.BorrowerMedium"
            name="Verwalten Ausleiher/Medium">
      </command>
      <command
            id="de.afbb.bibo.ui.inventory"
            name="Inventur">
      </command>
      <command
            id="de.afbb.bibo.ui.welcome"
            name="Hilfe Anzeigen">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
         <!--
      <key
            commandId="de.afbb.bibo.ui.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+O">
      </key>
      <key
            commandId="de.afbb.bibo.ui.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+M">
      </key>
      -->
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+Q">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.afbb.bibo.ui.application"
            name="AFBB Bibliothek">
         <property
               name="appName"
               value="AFBB Bibliothek">
         </property>
         <property
               name="aboutText"
               value="Bibliotheks-Verwaltung für AFBB.&#x0A;Erstellt von:&#x0A;&#x0A;David Becker&#x0A;Matthias Elberling&#x0A;Philipp Endrulat&#x0A;Tom Ewald&#x0A;Michelé Lingel&#x0A;Philipp Widdra">
         </property>
         <property
               name="aboutImage"
               value="icons/48x48logo.png">
         </property>
         <property
               name="windowImages"
               value="icons/16x16book2.png,icons/32x32book2.png,icons/48x48book2.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.afbb.bibo.coolbar">
         <command
               commandId="de.afbb.bibo.ui.manage.curator"
               icon="icons/32x32benutzerverwaltung.png"
               style="push">
         </command>
         <command
               commandId="de.afbb.bibo.ui.create.curator"
               icon="icons/32x32add_benutzerverwaltung.png"
               style="push">
         </command>
         <command
               commandId="de.afbb.bibo.ui.create.borrower"
               icon="icons/32x32add_schueler.png"
               style="push">
         </command>
         <separator
               name="de.afbb.bibo.ui.separator.coolbar1"
               visible="true">
         </separator>
         <command
               commandId="de.afbb.bibo.ui.create.type"
               icon="icons/32x32medien.png"
               style="push">
         </command>
         <command
               commandId="de.afbb.bibo.ui.create.copy"
               icon="icons/32x32add_book.png"
               style="push">
         </command>
         <separator
               name="de.afbb.bibo.ui.separator.coolbar2"
               visible="true">
         </separator>
         <command
               commandId="de.afbb.bibo.ui.lend"
               style="push">
         </command>
         <command
               commandId="de.afbb.bibo.ui.return"
               style="push">
         </command>
         <command
               commandId="de.afbb.bibo.ui.inventory"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.afbb.bibo.ui.navigationView">
         <command
               commandId="de.afbb.bibo.ui.lend"
               label="Verleihen an"
               style="push">
         </command>
         <command
               commandId="de.afbb.bibo.ui.manage.BorrowerMedium"
               label="Verwalten"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.afbb.bibo.ui.borrower">
         <command
               commandId="org.eclipse.ui.file.save"
               icon="icons/16x16Save.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.afbb.bibo.ui.registerexemplar">
         <command
               commandId="org.eclipse.ui.file.save"
               icon="icons/16x16Save.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.afbb.bibo.ui.return.copy">
         <command
               commandId="org.eclipse.ui.file.save"
               icon="icons/16x16Save.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.afbb.bibo.ui.lend.copy">
         <command
               commandId="org.eclipse.ui.file.save"
               icon="icons/16x16Save.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.afbb.bibo.ui.medium">
         <command
               commandId="org.eclipse.ui.file.save"
               icon="icons/16x16Save.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.afbb.bibo.ui.inventory">
         <command
               commandId="org.eclipse.ui.file.save"
               icon="icons/16x16Save.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file">
         <command
               commandId="org.eclipse.ui.file.exit"
               label="Beenden"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:help">
         <command
               commandId="de.afbb.bibo.ui.welcome"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.help.aboutAction"
               label="Über dieses Programm"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.afbb.bibo.ui.handler.CreateCuratorHandler"
            commandId="de.afbb.bibo.ui.create.curator">
      </handler>
      <handler
            class="de.afbb.bibo.ui.handler.RegisterCopyHandler"
            commandId="de.afbb.bibo.ui.create.copy">
      </handler>
      <handler
            class="de.afbb.bibo.ui.handler.CreateBorrowerHandler"
            commandId="de.afbb.bibo.ui.create.borrower">
      </handler>
      <handler
            class="de.afbb.bibo.ui.handler.CreateTypeHandler"
            commandId="de.afbb.bibo.ui.create.type">
      </handler>
      <handler
            class="de.afbb.bibo.ui.handler.ManageCuratorHandler"
            commandId="de.afbb.bibo.ui.manage.curator">
      </handler>
      <handler
            class="de.afbb.bibo.ui.handler.ReturnCopyHandler"
            commandId="de.afbb.bibo.ui.return">
      </handler>
      <handler
            class="de.afbb.bibo.ui.handler.LendCopyHandler"
            commandId="de.afbb.bibo.ui.lend">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="de.afbb.bibo.aggregation.NavigationTreeViewNode">
               </instanceof>
               <test
                     property="de.afbb.bibo.PERSON">
               </test>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="de.afbb.bibo.ui.handler.ManageBorrowerMediumHandler"
            commandId="de.afbb.bibo.ui.manage.BorrowerMedium">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <and>
                  <instanceof
                        value="de.afbb.bibo.aggregation.NavigationTreeViewNode">
                  </instanceof>
                  <or>
                     <test
                           property="de.afbb.bibo.PERSON">
                     </test>
                     <test
                           property="de.afbb.bibo.BOOK">
                     </test></or>
               </and>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="de.afbb.bibo.ui.handler.InventoryHandler"
            commandId="de.afbb.bibo.ui.inventory">
      </handler>
      <handler
            class="de.afbb.bibo.ui.handler.WelcomeHandler"
            commandId="de.afbb.bibo.ui.welcome">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="de.afbb.bibo.ui.handler.NavigationSelectionTester"
            id="de.afbb.bibo.ui.navigation.selection"
            namespace="de.afbb.bibo"
            properties="PERSONS, PERSON, BOOKS, BOOK, ROOT"
            type="de.afbb.bibo.aggregation.NavigationTreeViewNode">
      </propertyTester>
   </extension>
</plugin>
