<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.afbb.bibo.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="de.afbb.bibo.ui.Perspective"
            id="de.afbb.bibo.ui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="de.afbb.bibo.ui.view.NavigationView"
            icon="icons/16x16user.png"
            id="de.afbb.bibo.ui.navigationView"
            name="Navigation"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="de.afbb.bibo.ui.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="de.afbb.bibo.ui.category"
            id="de.afbb.bibo.ui.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="de.afbb.bibo.ui.category"
            id="de.afbb.bibo.ui.openMessage">
      </command>
      <command
            id="de.afbb.bibo.ui.login"
            name="Anmeldung">
      </command>
      <command
            id="de.afbb.bibo.ui.create.curator"
            name="Neuanlage Verwalter">
      </command>
      <command
            id="de.afbb.bibo.ui.create.Exemplar"
            name="Erfassung Exemplar">
      </command>
      <command
            id="de.afbb.bibo.ui.create.borrower"
            name="Neuanlage Ausleiher">
      </command>
      <command
            id="de.afbb.bibo.ui.create.type"
            name="Neuanlage Kategorie">
      </command>
      <command
            id="de.afbb.bibo.ui.lend"
            name="Verleihen">
      </command>
      <command
            id="de.afbb.bibo.ui.return"
            name="Zurückgeben">
      </command>
      <command
            id="de.afbb.bibo.ui.manage.curator"
            name="Eigenes Passwort Ändern">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.afbb.bibo.ui.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+O">
      </key>
      <key
            commandId="de.afbb.bibo.ui.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+M">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+Q">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.afbb.bibo.ui.application"
            name="AfbB Bibliothek">
         <property
               name="appName"
               value="AfbB Bibliothek">
         </property>
         <property
               name="aboutText"
               value="Bibliotheks-Verwaltung für AfbB.&#x0A;&#x0A;Erstellt von FI13">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="windowImages"
               value="icons/16x16book2.png,icons/32x32book2.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.afbb.bibo.coolbar">
         <command
               commandId="org.eclipse.ui.file.save"
               icon="icons/32x32login.png"
               style="push">
         </command>
         <separator
               name="de.afbb.bibo.ui.separator.coolbar1"
               visible="true">
         </separator>
         <command
               commandId="de.afbb.bibo.ui.manage.curator"
               icon="icons/32x32benutzerverwaltung.png"
               style="push">
         </command>
         <command
               commandId="de.afbb.bibo.ui.create.curator"
               icon="icons/32x32benutzerverwaltung.png"
               style="push">
         </command>
         <command
               commandId="de.afbb.bibo.ui.create.type"
               icon="icons/32x32cd.png"
               style="push">
         </command>
         <command
               commandId="de.afbb.bibo.ui.create.Exemplar"
               icon="icons/32x32book.png"
               style="push">
         </command>
         <command
               commandId="de.afbb.bibo.ui.create.borrower"
               icon="icons/32x32login.png"
               style="push">
         </command>
         <separator
               name="de.afbb.bibo.ui.separator.coolbar2"
               visible="true">
         </separator>
         <command
               commandId="de.afbb.bibo.ui.return"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.afbb.bibo.ui.view.WelcomeView"
            default="false"
            icon="icons/sample.gif"
            id="de.afbb.bibo.ui.view.welcome"
            name="Willkommen">
      </editor>
      <editor
            class="de.afbb.bibo.ui.view.RegisterExemplarView"
            default="false"
            icon="icons/16x16book.png"
            id="de.afbb.bibo.ui.registerexemplar"
            name="Erfassung Medien">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.afbb.bibo.ui.handler.CreateCuratorHandler"
            commandId="de.afbb.bibo.ui.create.curator">
      </handler>
      <handler
            class="de.afbb.bibo.ui.handler.RegisterExemplarHandler"
            commandId="de.afbb.bibo.ui.create.Exemplar">
      </handler>
      <handler
            class="de.afbb.bibo.ui.handler.CreateBorrowerHandler"
            commandId="de.afbb.bibo.ui.create.borrower">
      </handler>
      <handler
            class="de.afbb.bibo.ui.handler.CreateTypeHandler"
            commandId="de.afbb.bibo.ui.create.type">
      </handler>
      <handler
            class="de.afbb.bibo.ui.handler.ManageCuratorHandler"
            commandId="de.afbb.bibo.ui.manage.curator">
      </handler>
   </extension>

</plugin>
