<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.afbb.bibo.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="de.afbb.bibo.ui.Perspective"
            id="de.afbb.bibo.ui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="de.afbb.bibo.ui.NavigationView"
            id="de.afbb.bibo.ui.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="de.afbb.bibo.ui.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="de.afbb.bibo.ui.category"
            id="de.afbb.bibo.ui.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="de.afbb.bibo.ui.category"
            id="de.afbb.bibo.ui.openMessage">
      </command>
      <command
            id="de.afbb.bibo.ui.login"
            name="Anmeldung">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.afbb.bibo.ui.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+O">
      </key>
      <key
            commandId="de.afbb.bibo.ui.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+M">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+Q">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.afbb.bibo.ui.application"
            name="BiBo">
         <property
               name="appName"
               value="BiBo">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.afbb.bibo.ui.view.WelcomeView"
            default="false"
            icon="icons/sample.gif"
            id="de.afbb.bibo.ui.view.welcome"
            name="Willkommen">
      </editor>
   </extension>

</plugin>
